<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/movies">
      <img src="images/logo.svg" alt="Favorite movies" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <a *ngIf="signedIn" (click)="signout()" class="navbar-item">Sign out</a>
    <a *ngIf="notSignedIn" routerLink="/register" class="navbar-item">Register</a>
    <a *ngIf="notSignedIn" routerLink="/signin" class="navbar-item">Sign in</a>
  </div>
</nav>

<router-outlet></router-outlet>