<h1><%= title %></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolorem velit, iusto repellendus quis ex? At maiores officiis rem quo inventore, ab nemo ad eum rerum iste architecto magni obcaecati?</p>